/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  padding 0 !important
  transform translateX(-120%)
  max-height 0
  transition all 0.5s

  &.order-enter-active
    padding 2rem 0 !important
    transform translateX(0)
    max-height 60px

.order-leave
  transition all 0.5s
  transform translateX(0)

  &.order-leave-active
    padding 0
    transform translateX(120%)
    max-height 0

.count-enter
  transition all 0.25s
  transform translateY(100%)

  &.count-enter-active
    transform translateY(0)

.count-leave
  position absolute
  left 0
  bottom 0
  transform translateY(0)
  transition all 0.25s

  &.count-leave-active
    transform translateY(-100%)